.social-sharing {
    padding-top: 50px;

    span {
        color: #d7d7d7;
        margin-right: 23px;
        font-size: 14px;

        &:hover {
            color: #414141;
        }
    }
}