.product-section {
    padding-top: 70px;
    padding-bottom: 65px;

    .back-link {
        margin-bottom: 50px;

        span {
            font-size: 12px;
            color: #414141;
            cursor: pointer;
        }
    }
}